<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="Doan_ASPXConnectionString" connectionString="Data Source=DESKTOP-TTJ28QJ\MYSQL;Initial Catalog=Doan_ASPX;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Doan_ASPXConnectionString2" connectionString="Data Source=DESKTOP-TTJ28QJ\MYSQL;Initial Catalog=Doan_ASPX;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Doan_ASPX_DropdownRole" connectionString="Data Source=DESKTOP-TTJ28QJ\MYSQL;Initial Catalog=Doan_ASPX;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Doan_ASPXConnectionTableMem" connectionString="Data Source=DESKTOP-TTJ28QJ\MYSQL;Initial Catalog=Doan_ASPX;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
  </appSettings>
	<system.webServer>
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>